/*
 * Note:
 *  Relative font scaling is inconsistent across devices
 */

body {
  font-size: 16px;
  line-height: 1.3em;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.5em;
}
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}


@media (max-resolution: 120dpi) {
  body {
    font-size: 20px;
  }
}

