@import url('https://fonts.googleapis.com/css?family=Bellefair|Lobster');

/* let the intro div fill the screen, even if the entire html
 * doesn't have enough content
 */
html, body { height: 100%;}


body {
	background-image: url('majlis_home.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}
div {
	padding: 2em;
}

#top_div {
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	display:flex;
	text-align: center;
}
#top_div ul li {
	list-style-type: none;
}

#top_content, #vote_content {
	font-family:  'Droid Sans', 'Trebuchet MS', sans; 
	margin: 2em;
	font-size: 1em;
	font-weight: normal;
	max-width: 600px;
	line-height: 1.5em;
}
#vote_content {
	margin: 0;
	padding: 0.8em;
}

#page_title, #vote_heading {
	font-family: 'Lobster', cursive;
	text-align: center;
	font-weight: normal;
	font-size: 5em;
	margin: 0.1em;
}
#vote_heading {
	text-align: left;
}
#page_title_2 {
	font-family: 'Bellefair', serif;
	text-align: center;
	font-weight: normal;
	font-size: 2em;
	margin: 0.1em;
}
#content_div {
	background-color: #eeeeee;
}
